GPUtil==1.4.0
pandas>=1.5.0
Pillow>=9.1.0
PyYAML>=6.0
numpy>=1.23.0
opencv-python>=4.6.0
matplotlib>=3.6.0
scikit-learn>=1.1.0
scipy>=1.9.0
spektral>=1.1.0
scikit-video>=1.1.11
ipython>=8.4.0
chumpy>=0.70
imageio>=2.21.0
networkx>=2.8
tqdm>=4.64.0
tensorflow>=2.11.0